.bg-image {
    background-image: var(--bg-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.bg-image-contain {
        background-size: 100% 100%;
    }
}

.bg-parallax {
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    &.bg-dark-parallax {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            var(--bg-image);
    }
}

.social-links {
    display: flex;
    gap: 10px;
    justify-content: end;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50rem;
        background-color: $primary;
        color: $white;
        transition: all 0.3s ease;

        &:hover {
            background-color: $dark;
        }
    }
}

@media (max-width: 768px) {
    .bg-image {
        &.bg-image-h-200 {
            height: 200px;
        }
    }
}
