/* ----- ----- Fuentes ----- ----- */
$font-family-sans-serif: 'Roboto', sans-serif;

/* ----- ----- Espaciados ----- ----- */
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6,
    7: $spacer * 8,
    8: $spacer * 10,
);

$font-size-base: 1rem;

$font-sizes: (
    1: $font-size-base * 2.5,
    2: $font-size-base * 2,
    3: $font-size-base * 1.75,
    4: $font-size-base * 1.5,
    5: $font-size-base * 1.25,
    6: $font-size-base,
    7: $font-size-base * 0.875,
    8: $font-size-base * 0.75,
);

/* ----- ----- Colores ----- ----- */
$primary: #009fe3;
