/* ----- ----- Variables modificables de bootstrap ----- ----- */
@import './variables';

/* ----- ----- Libreria completa de bootstrap ----- ----- */
@import './../../node_modules/bootstrap/scss/bootstrap';

/* ----- ----- Codigo adicional ----- ----- */
@import './generales';

// Estilos adicionales responsivos
@include media-breakpoint-down(lg) {
    .bg-white {
        background: transparent !important;
    }

    .min-vh-100 {
        min-height: 100vh;
    }
}

// Ajustes específicos para tablets
@include media-breakpoint-only(lg) {
    .form-container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
